.mainContainer{
  margin: 100px auto;
}

div{
  text-align: center;
}

h1 {
  font-family: 'Chivo', sans-serif;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
/*   color: white; */
/*   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 */
}

h2{
  font-family: 'Sansita One', cursive;
}
.introTop h2{
  padding-bottom: 2px;
  margin-bottom: 0px;
}
.introMiddle{
  border-top: 5px double black;
  border-bottom:5px double black;
  width: 70%; /* How do I make this relative to introBottom instead of the window? */
  margin:0 auto;
}
.introBottom h2{
  padding-top: 5px;
  margin-top: 0px;
}
.contactButtons a{
  color:rgb(0, 0, 0);
  padding: 0px 10px;
}
.otherPages ul{
  padding: 10px;
}

li {
  list-style: none;
}